.row-seperate{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--color6);
}

.cart .img {
    height: 80px;
}

.cart img {
    height: 100%;
}

.best-item {
    border-top: 0;
    position: relative;
    padding-right: 10%;
}

.best-item:last-child{
    border-bottom: 0;
}

.best-item button{
    position: absolute;
    right: 0;
    font-size: 9pt;
}

.page-navigation {
    color: var(--color6);
}

.cursor-pointer {
    cursor: pointer;
}