<div
  class="offcanvas offcanvas-end cart"
  tabindex="-1"
  id="staticBackdrop"
  aria-labelledby="staticBackdropLabel"
>
  <div class="offcanvas-header row-seperate">
    <h5 class="offcanvas-title" id="staticBackdropLabel">Shopping Cart</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div *ngIf="cart.length" class="offcanvas-body">
    <ng-container *ngFor="let product of cart">
      <div class="best-item d-flex gap-3 row-seperate align-items-center">
        <div class="img">
          <img [src]="product.productId.images[0]" alt="" />
        </div>
        <div class="product-info d-flex flex-column justify-content-center">
          <div>{{ product.productId.title }}</div>
          <div>{{ product.count }} × ${{ product.productId.price }}</div>
        </div>
        <button type="button" class="btn-close" aria-label="Close" (click)="removeProduct(product.productId._id)"></button>
      </div>
    </ng-container>
  </div>
  <div class="position-relative bottom-0 w-100">
    <div
      class="row-seperate px-4 py-3 d-flex justify-content-between"
      *ngIf="cart.length"
    >
      <div>Subtotal:</div>
      <div>${{ totalPrice }}</div>
    </div>
    <div class="w-100 px-3 py-4">
      <button class="btn btn-primary w-100 rounded-0">
        {{ cart.length ? "CHECKOUT" : "CONTINUE SHOPPING" }}
      </button>
    </div>
  </div>
</div>

<button
  class="btn btn-primary d-none"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#staticBackdrop"
  aria-controls="staticBackdrop"
  #staticBackdrop
>
  Toggle static offcanvas
</button>
