<div class="widget-container">
  <div class="row card-container">
    <div class="card">
      <div class="card-body d-flex flex-column justify-content-end">
        <h3 class="card-title">20% Off On Tank Tops</h3>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac
          dictum.
        </p>
        <button [routerLink]="['/products']" [queryParams]="{ category: 'tops' }">SHOP NOW</button>
      </div>
    </div>
    <div class="card card-2">
      <div class="card-body d-flex flex-column justify-content-end">
        <h3 class="card-title">Latest Eyewear For You</h3>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac
          dictum.
        </p>
        <button [routerLink]="['/products']" [queryParams]="{ category: 'sunglasses' }">SHOP NOW</button>
      </div>
    </div>
    <div class="card card-3">
      <div class="card-body d-flex flex-column justify-content-end">
        <h3 class="card-title">Let's Lorem Suit Up!</h3>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac
          dictum.
        </p>
        <button [routerLink]="['/products']" [queryParams]="{ category: 'womens-shoes' }">SHOP NOW</button>
      </div>
    </div>
  </div>
</div>
