<footer>
  <div class="title-container d-flex justify-content-center align-items-center">
    <h4>SALE UP TO 70% OFF FOR ALL CLOTHES & FASHION ITEMS, ON ALL BRANDS.</h4>
  </div>
  <div
    class="details-container d-flex justify-content-center align-items-center"
  >
    <div class="details d-flex justify-content-between w-75">
      <div>
        <div class="list-heading">DNK</div>
        <h4>The best look anytime, anywhere.</h4>
      </div>
      <div>
        <div class="list-heading">For Her</div>
        <div class="list-item"><a href="#">Women Jeans</a></div>
        <div class="list-item"><a href="#">Tops and Shirts</a></div>
        <div class="list-item"><a href="#">Women Jackets</a></div>
        <div class="list-item"><a href="#">Heels and flats</a></div>
        <div class="list-item"><a href="#">Women Accessories</a></div>
      </div>
      <div>
        <div class="list-heading">For Him</div>
        <div class="list-item"><a href="#">Men Jeans</a></div>
        <div class="list-item"><a href="#">Men Shirts</a></div>
        <div class="list-item"><a href="#">Men Shoes</a></div>
        <div class="list-item"><a href="#">Men Accessories</a></div>
        <div class="list-item"><a href="#">Men jackets</a></div>
      </div>
      <div>
        <div class="list-heading">Subscribe</div>
        <div>
          <input
            class="subscription-input form-control shadow-none outline-none"
            placeholder="Your email address..."
            type="text"
          />
          <button class="subscription-button btn">SUBSCRIBE</button>
        </div>
      </div>
    </div>
  </div>
  <div class="wrights-section d-flex align-items-center">
    <div class="w-100 d-flex justify-content-center">
      <div class="w-75 d-flex justify-content-between">
        <div>Copyright © 2024 Brandstore. Powered by Brandstore.</div>
        <div class="icons">
          <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
          <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
          <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
          <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
          <fa-icon [icon]="['fab', 'google']"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</footer>
