@import "../../../css-config/mixins.scss";

.navbar {
    background-color: rgba(0,0,0,0.1);
}

.navbar-nav .nav-link,
.navbar-brand {
    color: var(--color1);
    cursor: pointer;
}

.navbar-brand img {
    height: 45px;
    margin-left: 15px;
}

.navbar-nav {
    gap: 15px;
    font-weight: 500;
    @include sm{
        flex-direction: row !important;
    }
}

.search-form {
    min-width: 48%;
}

.form-control:focus {
    box-shadow: none;
}

fa-icon{
    font-size: 13pt;
}

.nav-item{
    cursor: pointer;
}

.product-number{
    height: 18px;
    width: 18px;
    transform: translate(-25%, -50%);
    border-radius: 100%;
    font-size: 9pt;
}

.login-button{
    width: 100px;
    height: 40px;
    background-color: var(--color5) !important;
    color: var(--color7) !important;
    border: none !important;
}

.home-router, .home-router .nav-item span{
    color: #fff;
}

.home-router .nav-item span.product-number{
    background-color: #fff;
    color: #000;
}

.nav-item span.product-number {
    background-color: #000;
    color: #fff;
}