.product-page {
    width: 100%;
    background-color: #f5f7f9;
    padding: 0;
    margin: 0;
    padding: 5%;
}

.filter-section {
    width: 30%;
    padding: 0 2%;
}

.no-outline {
    border-radius: 0;
    outline: 0;
    border: 1px solid #e2e2e2;
}

.no-outline:focus {
    box-shadow: none;
    outline: none;
    border: 1px dotted black;
}

.search-menu button {
    background-color: blue;
    border-radius: 0;
    margin-left: 5px;
    color: white;
    font-weight: 800;
    border: none;
}

.product-section {
    background-color: #fff;
    width: 100%;
    padding: 5%;
    margin-left: 20px;
}

.product-section div {
    padding: 0 5%;
}

.product-section p {
    padding: 0;
}

.product-container {
    gap: 20px;
    margin-top: 50px;
}

.pagination{
    gap: 5px;
}

.pagination .btn{
    height: 40px;
    width: 40px;
    padding: 0;
    background-color: #fff;
    border-radius: 0;
    color: #000;
    border: 1px solid black;
}

.pagination .btn:hover, .pagination .selected {
    background-color: #000;
    color: #fff;
}

.category-filter .item{
    cursor: pointer;
}

.category-filter .item:hover {
    color: blue;
}

.best-sellers .img{
    height: 80px;
}

.best-sellers img{
    height: 100%;
    width: 80px;
}

.best-item{
    cursor: pointer;
}

.page-navigation{
    color: var(--color6);
}

.cursor-pointer{
    cursor: pointer;
}