@import "../../../css-config/mixins.scss";

.featured-container {
    background-color: #fff;

    app-product {
        max-width: 230px;
    }
}

.content {
    padding: 10%;
    background-color: #f5f7f9;
}

.elementor-divider-separator {
    width: 100px;
    background-color: #0084d6;
    height: 2px;
}

h2 {
    font-size: 30pt;
    font-weight: 600;

    @include sm {
        font-size: 20pt;
    }
}

h4 {
    @include sm {
        font-size: 14pt;
    }
}

.card-body {
    color: var(--color2);
}

.faded {
    opacity: 0.6;
}

.card {
    width: 248px !important;
    border-radius: 0 !important;
    border: none;
    background-color: transparent;
}

.card img {
    height: 248px;
    width: 248px;
    border-radius: 0 !important;
}

.product-container {
    gap: 20px;
    justify-content: space-around;
}

.special-edition {
    min-height: 70vh;
    padding: 8% 10%;
    background:
        url('../../../../public/assets/brand/banner-03.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    z-index: -1;

    @include sm {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.special-edition::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    background-image: linear-gradient(100deg, #0084D6 0%, #00000000 100%);
    z-index: -5;
    opacity: 0.5;
}

.edition-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
    gap: 20px;
}

.edition-content p {
    width: 50%;

    @include sm {
        width: 100%;
    }
}

.edition-content button {
    background-color: #ffffff;
    color: #000000;
    height: 45px;
    width: 150px;
    border-radius: 0;
    border: none;
    font-weight: 600;
    min-width: 100px;
}

.edition-content button:hover {
    color: #ffffff;
    background-color: #000000;
}

.discount-content {
    font-size: 14pt;
    font-weight: 700;
}

.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10% 5%;
    padding-bottom: 0;

    span {
        text-align: center;
    }

    @include sm {
        flex-direction: column !important;
    }
}

.features img {
    height: 52px;
    width: 52px;
}