<div>
  <div class="home-container d-flex justify-content-center align-items-center">
    <div
      class="content w-75 h-75 d-flex justify-content-center flex-column"
    >
      <h1>Raining Offers For Hot Summer!</h1>
      <p class="mt-3">25% Off On All Products</p>
      <div class="mt-4">
        <button class="btn" routerLink="/products">SHOP NOW</button>
        <!-- <button class="btn find-button">FIND MORE</button> -->
      </div>
    </div>
  </div>
  <div class="background"></div>
</div>